
.Navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
    flex-wrap: wrap;
    padding: 10px;
}

.NavbarLeft {
  justify-content: flex-start;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
}
.NavbarRight {
  justify-content: flex-end;
  display: flex;
}

.CommonButton {
   margin: 6px 10px 0;
    padding: 6px 16px;
    border: 1px solid rgba(27, 31, 35, 0.2);
    border-radius: 6px;
    background: #fafbfc;
    color: #24292e;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.CommonButton:hover {
  background-color: #111315;
}